<a href="https://colab.research.google.com/github/kurtjohngenil/CPE-21A-PLD-1-1-blk1/blob/main/Introduction_to_Phython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#indentation

In [5]:
if 10+5:
  print("the value of 10+5 is equal to 15")    #This is a comment

the value of 10+5 is equal to 15

#Variable Declaration

In [16]:
from re import X
#variable with a single value

h=8
g=3
if h>g:
  print("h is greater than g")
else:
  print("g is greater than h")


#variable with multiple values

x,y=4.5,5.12245
print(x)
print(y)

print("The value of x is.",x)
print("The value of y is.",y)

h is greater than g
4.5
5.12245
The value of x is. 4.5
The value of y is. 5.12245

#Casting and Type() Function

In [32]:
g=int(2)   #integer
j=float(2) #decimal/fractional 

print(g)
print(j)

print(type(g))
print(type(j))

2
2.0
<class 'int'>
<class 'float'>

#Double or single quote

In [23]:
name="HELLO"
Name='ME?'

print(name)
print(Name)

HELLO
ME?

#Case Sensitive

In [33]:
g = 'Anne'
print(g)

Anne

#One Value to Multiple Variables

In [35]:
from re import X
#variable with a single value

h=8
g=3
if h>g:
  print("h is greater than g")
else:
  print("g is greater than h")


#variable with multiple values

x,y=4.5,5.12245
print(x)
print(y)

print("The value of x is.",x)
print("The value of y is.",y)

#multiple variables with single value

p = y = q = 'ako'
print(p)
print(y)
print(q)

h is greater than g
4.5
5.12245
The value of x is. 4.5
The value of y is. 5.12245
ako
ako
ako

#Output Variable

In [37]:
c = 'life is short'
print('just enjoy,'+'  '+c )   #append is enjoying

just enjoy,  life is short